<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.hugleberry.proximitysdk"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/proxsdk_ico"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:screenOrientation="portrait">

        <activity
            android:name="com.hugleberry.proximitysdk.example.MainActivity" android:screenOrientation="portrait"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
